.Order {
    width: 445px;
    height: 597px;
    border: 2px solid rgba(112, 112, 112, 1);
    margin-left: 1600px;
    margin-top: -350px;
}

.Order h1 {
    color: var(--Light Colors/Black - Light, rgba(0, 0, 0, 1));

    font-family: Inter;
    font-style: Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
}

.Order h2 {
    color: rgba(112, 112, 112, 1);

    font-family: Inter;
    font-style: Regular;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.Order-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 80px;
}

.Order p {
    font-family: Inter;
    font-style: Regular;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 60px;
}

.True h1 {
    color: var(--Light Colors/Black - Light, rgba(0, 0, 0, 1));

    font-family: Inter;
    font-style: Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

.True h2 {
    color: var(--Light Colors/Dark gray - Light, rgba(112, 112, 112, 1));

    font-family: DM Sans;
    font-style: Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

.True h3 {
    color: rgba(128, 35, 58, 1);

    font-family: Inter;
    font-style: Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

.true-1 {
    margin-left: 50px;
}

.true-1 img {
    width: 92px;
    height: 92px;
}

.True {
    margin-left: 160px;
    margin-top: -90px;
}

.cross {
    margin-left: 170px;
    margin-top: -70px;
}

.croos {
    width: 445px;
    height: 0;
    border: 1px solid rgba(216, 216, 216, 1);
    margin-top: 150px;
}

.total {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.total h1 {
    color: var(--Light Colors/Black - Light, rgba(0, 0, 0, 1));

    font-family: Inter;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}

.total-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.total-1 h2 {
    color: var(--Light Colors/Black - Light, rgba(0, 0, 0, 1));

    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}