.info {
    width: 2000px;
    height: 420px;
    margin: 0 auto;
}

.info img {
    width: 2000px;
}

.get-info {
    margin: 0 auto;
    margin-left: 800px;
    margin-top: -300px;
}

.get-info h1 {
    color: rgba(255, 255, 255, 1);

    font-family: Inter;
    font-style: Medium;
    font-size: 35px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: left;
}

.get-info p {
    color: rgba(255, 255, 255, 1);

    font-family: Inter;
    font-style: Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    margin-left: -850px;
}

.get-info input {
    width: 473px;
    height: 55px;
    background: rgba(255, 255, 255, 1);
    border:  none;
    margin-left: -50px;
}

.get-info button {
    width: 183px;
    height: 45px;
    border: none;
    background-color: rgba(128, 35, 58, 1);
    color: rgb(255, 255, 255, 1);
    margin-left: 90px;
    margin-top: 20px;
}