.Storee {
    width: 448px;
    height: 646px;
    margin-left: 1600px;
    margin-top: -80px;
}

.Storee h1 {
    color: rgba(0, 0, 0, 1);

    font-family: Inter;
    font-style: Regular;
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-top: 30px;
}

.Storee h2 {
    color: rgba(0, 0, 0, 1);

    font-family: DM Sans;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 50px;
}

.Storee p {
    color: rgba(130, 130, 130, 1);

    font-family: DM Sans;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 250px;
}

.card-image-1 {
    box-sizing: border-box;
    margin-top: 25px;
}

.card-image-2 {
    margin-left: 250px;
    margin-top: -60px;
}

.Storee input {
    width: 376px;
    height: 43px;
    margin-left: 50px;
    margin-top: 40px;
}

.stor {
    width: 448px;
    height: 0;
    border: 1px solid var(--Light Colors/Gray - Light, rgba(216, 216, 216, 1));
    background: rgb(159, 75, 75);
}

.stor-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.stor-1 h1 {
    color: rgba(0, 0, 0, 1);

    font-family: Inter;
    font-style: Bold;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 20px;
}

.card-btn {
    width: 400px;
    height: 53px;
    background: rgba(128, 35, 58, 1);
    margin-top: 20px;
    border: none;
    margin-left: 15px;
}

.Storee h4 {
    color: rgba(0, 0, 0, 1);

    font-family: Inter;
    font-style: Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 10px;
}