.Basket {
    width: 1440px;
    margin: 0 auto;
}

.Your-card {}

.Your-card h1 {
    color: rgba(0, 0, 0, 1);

    font-family: Inter;
    font-style: Medium;
    font-size: 35px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.Your-card h3 {
    color: rgba(0, 0, 0, 1);

    font-family: Inter;
    font-style: Regular;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.to-shop {
    display: flex;
    gap: 50px;
}

.Sweet h1 {
    color: var(--Light Colors/Black - Light, rgba(0, 0, 0, 1));

    font-family: Inter;
    font-style: Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 20px;
}

.Sweet h2 {
    color: var(--Light Colors/Dark gray - Light, rgba(112, 112, 112, 1));

    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
}

.Sweet h3 {
    color: rgba(128, 35, 58, 1);

    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
}

.counter-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    padding: 20px;
    border-radius: 16px;
}

.counter-number {}

.counter-number {
    font-size: 42px;
    font-weight: 500;
}