.gridimage {
    max-width: 2000px;
    height: 361px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.image2 {
    grid-column: span 2;
    grid-row: span 2;
    height: 361px;
}

.image2 img {
   
    height: 100%;
    width:100%;
    object-fit: cover;
}

.image1 {
    width: 276px;
height: 176px;


}


.image1 img  {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
