.Flower {
    width: 2000px;
    margin: 0 auto;
    margin-top: 90px;
    border: 2px solid red;
}

.shoop-img {
    width: 400px;
    height: 700px;
    margin-left: 150px;
    margin-top: -300px;
}

.flower img {
    margin-top: 20px;
    margin-left: 100px;
}   

