.Footer {
    width: 2000px;
    height: 393px;
    background-color: aliceblue;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.item span {
    color: gray;
}
.Image1 {
    width: 270px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}