  .miel {
    width: 2000px;
    height: 172px;
    border:  2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: -200px;
}

.miel h1 {
    color: rgba(128, 35, 58, 1);

    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-top: -30px;
}

.miel h1 {
    color: var(--Light Colors/Dark gray - Light, rgba(112, 112, 112, 1));

    font-family: Inter;
    font-style: Regular;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-top: 0px;
} 