.categori {
    width: 260px;
    padding: 20px;
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.categori h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #2d2d2d;
    border-bottom: 2px solid #f1f1f1;
    padding-bottom: 8px;
}

.categori a {
    text-decoration: none;
}

.categori p {
    padding: 12px 14px;
    margin: 8px 0;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 500;
    color: #444;
    background: #f8f8f8;
    transition: all 0.3s ease;
    cursor: pointer;
}

.categori p:hover {
    background: linear-gradient(135deg, rgba(128, 35, 58, 1));
    color: #fff;
    transform: translateX(6px);
    box-shadow: 0 6px 15px rgba(128, 35, 58, 1);
    ;
}

.categori p.active {
    background: linear-gradient(135deg, rgba(128, 35, 58, 1));
    color: #fff;
}