.banner {
    max-width: 2000px;
    margin: 0 auto;
}

.banner img {
    width: 2000px;
}

.for {

    margin-top: -300px;
    color: rgba(255, 255, 255, 1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    line-height: 65px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.button-cation {
    width: 224px;
    height: 55.08px;
    background-color: brown;
    border: none;
    color: aliceblue;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.far {
    color: rgba(255, 255, 255, 1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: Medium;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}